@model IEnumerable<Skill_CodeFirst.Models.Siniflar.Yetenekler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>YETENEK</th>
        <th>DEĞER</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.YetenekAciklama</td>
            <td>@item.Deger</td>
            <td><a class="btn btn-danger" href="/Admin/YetenekSil/@item.Id">Sil</a></td>
            <td><a class="btn btn-success" href="/Admin/YetenekGetir/@item.Id">Güncelle</a></td>

        </tr>
    }
</table>
